body {
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h3 {
    font-size: 21px;
    font-weight: normal;
    margin: 8px 0;
}

h4 {
    margin: 2px 0 6px;
}

h5 {
    margin: 6px 0 2px;
}

.number {
    font-weight: bolder;
    font-size: 21px;    
}

.num-cont {
    padding-top: 8px;
}

.avatar-img {
    max-height: 54px;
}

.game-over {
    color: #ff0000;
    visibility: hidden;
}

a {
    color: #ff0000;
    text-decoration: none;
}